<div class="search-index">
  <div class="jumbotron jumbotron-fluid">
  <div class="search-index-title">
    <h1 class="slogan-h1">Local, Loving Pet Care</h1>
    <h3 class="slogan-h3">Book trusted sitters who'll treat your pets like family!</h3>
  </div>
  </div>
  <%= render 'shared/error_content'%>
    <%= form_tag('searches', method: 'patch') do %>
      <div class="pet-type">
        <%= check_box_tag(:dog, 0) %>
        <%= label_tag(:dog, "Dog") %>
        <%= check_box_tag(:cat, 1) %>
        <%= label_tag(:cat, "Cat") %>
      </div>
      <div class="city-group">
        <%= select_tag(:city_id, options_for_select(TaiwanCity.list),class:'city-select',prompt: "縣市") %>
        <%= select_tag(:township_id, raw("<option value="">鄉鎮市區</option>"),class:'city-select') %>
      </div>
      <div class="select-date">
        <div class="datepick-wrap">
          <%= text_field_tag 'Drop_Off', nil, :'data-provide' =>'datepicker', placeholder:'送出日期',autocomplete:"off", class: 'datepick' %><%= image_tag 'iconfinder_calendar_299092.png', class: 'calendar-icon' %>
        </div>
        <div class="datepick-wrap">
          <%= text_field_tag 'Pick_Up', nil, :'data-provide' =>'datepicker', placeholder:'接回日期',autocomplete:"off", class: 'datepick' %><%= image_tag 'iconfinder_calendar_299092.png', class: 'calendar-icon' %>
        </div>
      </div>
      <div class="pet-count">
        <div class="xs">
          <%= label_tag(:xs_count, "迷你 (0~10 kg)") %>
          <%= select_tag(:xs_count, options_for_select([['0', 0], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]],6)) %>
        </div>
        <div class="s">
          <%= label_tag(:s_count, "小型 (11~25 kg)") %>
          <%= select_tag(:s_count, options_for_select([['0', 0], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]],6)) %>
        </div>
        <div class="m">
          <%= label_tag(:m_count, "中型 (26~40 kg)") %>
          <%= select_tag(:m_count, options_for_select([['0', 0], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]],6)) %>
        </div>
        <div class="l">
          <%= label_tag(:l_count, "大型 (41 kg up)") %>
          <%= select_tag(:l_count, options_for_select([['0', 0], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]],6)) %>
        </div>
      </div>

      <%= submit_tag("找褓姆", class:'btn btn-primary',id: 'btn-primary',:'data-toggle'=>"modal", :'data-target'=>"#exampleModalCenter") %>
    <% end %>        
  
</div>
