<nav class='top-nav'>
  <ul>
    <span class="nav-left">
      <li><%= link_to 'PetCollage', root_path %></li>
      <% #if user_signed_in? %>
      <li><%= link_to 'Become Sitter', '#' %></li>
      <% #end %>
    </span>
    <span class="nav-right">
      <% if user_signed_in? %>
        <li><%= "Hi, #{current_user.name}" %></li>
        <li><%= link_to 'My Profile', user_path(current_user) %></li>
        <li><%= link_to 'My Order', orders_path(current_user) %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to 'Log in', new_user_session_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <% end %>
    </span>
  </ul>
</nav>