<ul class="order-type">
  <li><%= link_to '全部', user_orders_path(current_user) %></li>
  <li><%= link_to '未完成', pending_user_orders_path(current_user) %></li>
  <li><%= link_to '已完成', finish_user_orders_path(current_user) %></li>
  <li><%= link_to '已取消', cancel_user_orders_path(current_user) %></li>
</ul>
<div>
  <div class="check-empty">
  <% if @orders.empty? %>
    <p>沒有符合的訂單！</p>
  <% end %>
  </div>
  <% @orders.each do |order| %>
  <div class="order-info">
    <div>
      <img src="<%= order.sitter.avatar %>" alt="">
    </div>
    <div class="order-content">
      <p>訂單號： <%= order.id %></p>
      <p>狀態： <%= order.state %></p>
      <p>飼主： <%= order.user.name %></p>
      <p>保母： <%= order.sitter.name %></p>
      <p>送出日期： <%= order.drop_off %> | 接回日期： <%= order.pick_up %></p>
      <p>總金額： <%= (order.pick_up - order.drop_off).to_i * order.sitter.price %> 元</p>
      <p>付款日期： <%= order.created_at.to_date %></p>
    </div>
    <%= link_to '查看細節', user_order_path(current_user, order) %>
  </div>
  <% end %>
  <%= paginate @orders, outer_window: 3 %> 
</div>