  <h3>我的寵物</h3>
<div class="pet-list">
  <% @pets.each do |pet| %>
  <div class='my-pet'>
    <%= image_tag pet.pic_url(:middle), class: 'pet-pic' %>
    <div class="pet-info">
      <p><%= pet.pet_type %></p>
      <p>名字： <%= pet.name %></p>
      <p>年齡： <%= pet.age %> 歲</p>
      <p>體重： <%= pet.size %> 公斤</p>
      <p>性別： <%= pet.sex %></p>
      <%= link_to '查看', user_pet_path(current_user, pet) %>
      <%= link_to '編輯', edit_user_pet_path(current_user, pet) %>
      <%= link_to '刪除', user_pet_path(current_user, pet), method: 'delete', data: {confirm: "確定要刪除#{pet.name}？"}, class: 'delete-pet' %>
    </div>
  </div>
  <% end %>
  <div class="add-pet">
    <%= link_to '＋', new_user_pet_path(current_user), class: 'add-symbol' %>
    <i class="fas fa-paw"></i>
  </div>
</div>
