<div class="avatar">
  <img src="<%= profile.avatar %>" alt="" class="avatar-img">
</div>
<div class="info">
  <%= content_tag(:h3, profile.name) %>
  <%= link_to 'Edit', edit_user_path(current_user), class: 'btn btn-edit btn-primary' if profile == @user %>
  <%= link_to 'Edit', edit_sitter_path(@sitter), class: 'btn btn-edit btn-primary' if profile == @sitter %>
  <%= content_tag(:p, profile.address) if profile == @sitter %>
  <%= content_tag(:p, profile.email) %>
  <%= content_tag(:p, profile.slogan) if profile == @sitter %>
  <%= content_tag(:p, "$ #{profile.price} /每晚") if profile == @sitter %>
  <%= link_to 'Booking', new_user_order_path(current_user), class: 'btn btn-booking btn-success' if profile == @sitter %>
</div>
<hr>
<div class="pic">
  <h3>圖片集</h3>
    <img src="<%= profile.pic %>" alt="">
</div>
<hr>
<% if profile == @sitter %>
<div class="square">
  <%= content_tag(:p, "空間坪數： #{profile.square_meters} 平方公尺") %>
  <%= content_tag(:p, "最大收容數： #{profile.pet_limit} 隻") %>
  <%= month_calendar events: @booking_dates do |date, booking_dates| %>
    <%= date.day %>
    <% booking_dates.each do |booking_date| %>
    <div>
    <%= booking_date.available %>
    </div>
    <% end %>
  <% end %>
</div>
<div class="comment">
  <%= content_tag(:h3, '留言板') %>
  <%= render 'shared/comment' %>
</div>
<% end %>
<% if profile == @user %>
  <%= render 'shared/petcard' %>
<% end %>