<img src="<%= @sitter.avatar %>" alt="error path">
<h3><%= @sitter.name %></h3>
<p><%= @sitter.address %></p>
<p><%= @sitter.email %></p>
<p><%= @sitter.slogan %></p>
<p>$<%= @sitter.price %> /每晚</p>
<hr>
<div>
  <p>空間坪數： <%= @sitter.square_meters %> 平方公尺</p>
  <p>最大收容數： <%= @sitter.pet_limit %> 隻</p>
</div>
<div>
<h3>圖片集</h3>
<img src="<%= @sitter.pic %>" alt="">
</div>
<div>
<h3>留言板</h3>
</div>