<h1>Order List</h1>
<ul class="order-type">
  <li><%= link_to '未完成', '#' %></li>
  <li><%= link_to '已完成', '#' %></li>
  <li><%= link_to '已取消', '#' %></li>
</ul>
<div>
    <%= render 'pending' %>
    <% @orders.each do |order| %>
  <div class="order-info">
    <div>
      <img src="<%= order.sitter.avatar %>" alt="">
    </div>
    <div class="order-content">
      <p>訂單號： <%= order.id %></p>
      <p>狀態： <%= order.status %></p>
      <p>寵物主人： <%= order.user.name %></p>
      <p>保母： <%= order.sitter.name %></p>
      <p>drop_off： <%= order.drop_off %> | pick_up： <%= order.pick_up %></p>
      <p>金額： <%= order.sitter.price %> 元</p>
      <p>結帳日期： <%= order.checkout_time %></p>
    </div>
    <%= link_to '查看細節', order_path(:id) %>
  </div>
    <% end %>
</div>