<div class="sitter-checkout">
    <div class="sitter-checkout-container">
        <%= simple_form_for([current_user, @order]) do |f| %> 
        <div class="check-item item-sitter-profile">
        <h3>訂單資訊</h3>
            <%= f.input :sitter_id, as: :hidden, input_html: { value: @sitter['id']} %>
            <%= content_tag(:p, "褓姆： #{@sitter['name']}") %>
            <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id} %>
            <%= content_tag(:p, "飼主： #{current_user.name}") %>
            <%= f.input :drop_off, as: :hidden, input_html: { value: @drop} %>
            <%= content_tag(:p, "送出日期： #{@drop}") %>
            <%= f.input :pick_up, as: :hidden, input_html: { value: @pick} %>
            <%= content_tag(:p, "接回日期： #{@pick}") %>
            <%= f.input :status, as: :hidden, input_html: { value: 'pending'} %>
            <%= content_tag(:p, "總金額： #{@total} 元") %>
            <%= f.input :pet_count, as: :hidden, input_html: { value: @pet_count} %>
            <%= f.input :note %>
        </div>
        <div class="check-item item-payment">
            <h3>付款設定</h3>
            <div id="payment-form"></div>
        </div>
            <%= f.submit '送出', class: 'btn'%>
        <% end %>
    </div>
</div>    

<script src="https://js.braintreegateway.com/js/braintree-2.32.1.min.js"></script>

<script>

            document.addEventListener("turbolinks:load", function() {
      // var clientToken = "eyJ2ZXJzaW9uIjoyLCJhdXRob3JpemF0aW9uRmluZ2VycHJpbnQiOiJleUowZVhBaU9pSktWMVFpTENKaGJHY2lPaUpGVXpJMU5pSXNJbXRwWkNJNklqSXdNVGd3TkRJMk1UWXRjMkZ1WkdKdmVDSjkuZXlKbGVIQWlPakUxTmpFd01URTVPRE1zSW1wMGFTSTZJak5tTldGaE1XSXdMV1JpTldNdE5HRTJNUzA0TUdNd0xUVTBNelEyT0Rrd09EUmtZU0lzSW5OMVlpSTZJak0wT0hCck9XTm5aak5pWjNsM01tSWlMQ0pwYzNNaU9pSkJkWFJvZVNJc0ltMWxjbU5vWVc1MElqcDdJbkIxWW14cFkxOXBaQ0k2SWpNME9IQnJPV05uWmpOaVozbDNNbUlpTENKMlpYSnBabmxmWTJGeVpGOWllVjlrWldaaGRXeDBJanBtWVd4elpYMHNJbkpwWjJoMGN5STZXeUp0WVc1aFoyVmZkbUYxYkhRaVhTd2liM0IwYVc5dWN5STZlMzE5LmhRTjFuejRucnprbE9teVlaZTV0QzBzYlNXem5RekNlbWpJbHhJeU9jbG1QTkFxbHNQM1FrZjRlbGJOYW1LQWJmUU9wSkgyNG1DdUdaalNGQW4wOUp3IiwiY29uZmlnVXJsIjoiaHR0cHM6Ly9hcGkuc2FuZGJveC5icmFpbnRyZWVnYXRld2F5LmNvbTo0NDMvbWVyY2hhbnRzLzM0OHBrOWNnZjNiZ3l3MmIvY2xpZW50X2FwaS92MS9jb25maWd1cmF0aW9uIiwiZ3JhcGhRTCI6eyJ1cmwiOiJodHRwczovL3BheW1lbnRzLnNhbmRib3guYnJhaW50cmVlLWFwaS5jb20vZ3JhcGhxbCIsImRhdGUiOiIyMDE4LTA1LTA4In0sImNoYWxsZW5nZXMiOltdLCJlbnZpcm9ubWVudCI6InNhbmRib3giLCJjbGllbnRBcGlVcmwiOiJodHRwczovL2FwaS5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tOjQ0My9tZXJjaGFudHMvMzQ4cGs5Y2dmM2JneXcyYi9jbGllbnRfYXBpIiwiYXNzZXRzVXJsIjoiaHR0cHM6Ly9hc3NldHMuYnJhaW50cmVlZ2F0ZXdheS5jb20iLCJhdXRoVXJsIjoiaHR0cHM6Ly9hdXRoLnZlbm1vLnNhbmRib3guYnJhaW50cmVlZ2F0ZXdheS5jb20iLCJhbmFseXRpY3MiOnsidXJsIjoiaHR0cHM6Ly9vcmlnaW4tYW5hbHl0aWNzLXNhbmQuc2FuZGJveC5icmFpbnRyZWUtYXBpLmNvbS8zNDhwazljZ2YzYmd5dzJiIn0sInRocmVlRFNlY3VyZUVuYWJsZWQiOnRydWUsInBheXBhbEVuYWJsZWQiOnRydWUsInBheXBhbCI6eyJkaXNwbGF5TmFtZSI6IkFjbWUgV2lkZ2V0cywgTHRkLiAoU2FuZGJveCkiLCJjbGllbnRJZCI6bnVsbCwicHJpdmFjeVVybCI6Imh0dHA6Ly9leGFtcGxlLmNvbS9wcCIsInVzZXJBZ3JlZW1lbnRVcmwiOiJodHRwOi8vZXhhbXBsZS5jb20vdG9zIiwiYmFzZVVybCI6Imh0dHBzOi8vYXNzZXRzLmJyYWludHJlZWdhdGV3YXkuY29tIiwiYXNzZXRzVXJsIjoiaHR0cHM6Ly9jaGVja291dC5wYXlwYWwuY29tIiwiZGlyZWN0QmFzZVVybCI6bnVsbCwiYWxsb3dIdHRwIjp0cnVlLCJlbnZpcm9ubWVudE5vTmV0d29yayI6dHJ1ZSwiZW52aXJvbm1lbnQiOiJvZmZsaW5lIiwidW52ZXR0ZWRNZXJjaGFudCI6ZmFsc2UsImJyYWludHJlZUNsaWVudElkIjoibWFzdGVyY2xpZW50MyIsImJpbGxpbmdBZ3JlZW1lbnRzRW5hYmxlZCI6dHJ1ZSwibWVyY2hhbnRBY2NvdW50SWQiOiJhY21ld2lkZ2V0c2x0ZHNhbmRib3giLCJjdXJyZW5jeUlzb0NvZGUiOiJVU0QifSwibWVyY2hhbnRJZCI6IjM0OHBrOWNnZjNiZ3l3MmIiLCJ2ZW5tbyI6Im9mZiJ9";
    // authorization: '<%= @token %>',
                var clientToken = "<%= @token %>"
                braintree.setup(clientToken, "dropin", {
                container: "payment-form"
                });
            })     
        </script>
