<h1>Order detail</h1>
<div class="order-detail">
  <div class="sitter-avatar">
    <img src="<%= @order.sitter.avatar %>" alt="">
  </div>
  <div class="sitter-info">
    <h3>保母： <%= @order.sitter.name %></h3>
    <p>地址： <%= @order.sitter.address %></p>
    <p>email: <%= @order.sitter.email %></p>
  </div>
  <hr>
  <div class="detail-text">
    <p><span>訂單號：</span> <span><%= @order.id %></span></p>
    <p><span>訂單狀態：</span> <span><%= @order.status %></span></p>
    <hr>
    <p><span>Drop-Off:</span> <span><%= @order.drop_off %></span></p>
    <p><span>Pick-Up:</span> <span><%= @order.pick_up %></span></p>
    <p><span>寵物主人:</span> <span><%= @order.user.name %></span></p>
    <p><span>寵物主人email:</span> <span><%= @order.user.email %></span></p>
    <hr>
    <p><span>寵物數量：</span> <span><%= @order.user.pets.count %></span></p>
    <p><span>寵物體型：</span> <span><%= @order.user.pets.size %></span></p>
    <p><span>備註：</span> <span><%= @order.note %></span></p>
    <hr>
    <p><span>每晚金額：</span> <span><%= @order.sitter.price %> 元</span></p>
    <p><span>總金額：</span> <span><%= @total_price %> 元</span></p>
    <p><span>付款日期：</span> <span><%= @order.checkout_time %></span></p>
    <hr>
    <p><span>付款方式：</span> <span>credit card</span></p>
  </div>
</div>