<div class="become-sitter-wrap">
        <div class="new-sitter">
            
            <%= form_tag(@sitter, method: 'post', class: 'bar-form') do %>
                <div class="city-group">
                    <p>提供住宿的地址：</p>
                    <p><%= select_tag(:city_id, options_for_select(TaiwanCity.list),prompt: "縣市",class:'city-select') %>
                       <%= select_tag(:township_id, raw("<option value="">鄉鎮市區</option>"),class:'city-select') %></p>
                    <p><%= text_field_tag :address, nil, placeholder:'請輸入街道地址' %><span><%= '地址不得空白' if @sitter.errors[:address].any? %></span></p> 
                </div>
                  <p>坪數：<%= number_field_tag(:square_meters, min:1) %><span> <%= '坪數必須大於0' if @sitter.errors[:square_meters].any? %></span> </p>
                  <p> 最多可接受寵物數：<%= number_field_tag(:pet_limit, min:1) %><span><%= '可接受寵物數必須大於0' if @sitter.errors[:pet_limit].any? %></span></p>
                  <p>每晚房價：<%= number_field_tag(:price, min:1) %><span><%= '房價必須大於0' if @sitter.errors[:price].any? %></span></p>
                  <p>房間描述：<%= text_field_tag :slogan, nil, placeholder:'請輸入房間描述' ,autocomplete:"off"%></p>
                <%= submit_tag("送出", class:'btn btn-primary', id: 'search-sitters') %>
            <% end %>

        </div>

    </div>
        
        