
<div class="search-sitters" id="sitters-content">
    <% if sitters.empty?%>
        <h1>找不到搜尋結果</h1> 
    <% else %>
        <% sitters.each do |sitter|%>
            <div class="sitter-item">
                <div class="item-pic"><img src=<%=sitter.avatar%>></div>
                <div class="item-sitter-info">
                    <div class="item-sitter-name"><%=sitter.name%></div>
                    <div class="item-sitter-address"><%=sitter.address%></div>
                    <div class="item-sitter-slogan"><%=sitter.slogan%></div>
                </div>        
                <div class="item-price">
                    <p class='per-price'><%=sitter.price%>$</p>
                    <p>per night</p>
                    <%= link_to '查看保母',sitter_path(sitter), class: 'btn btn-info' %>
                </div>
            </div>
        <%end%>
        <%= paginate sitters, outer_window: 3 %> 
    <%end%>
    
    
</div>