<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>PetCollage</title>
    <%= favicon_link_tag 'animals.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="turbolinks-visit-control" content="reload">
  </head>

  <body>
      
    <%= render 'shared/nav' %>
    <%= flash[:notice] %>
    <%= yield %>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['google_key']%>&callback=initialize"></script>

    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
    <div class="container-fluid footer">
      copyright &copy; 2019, PetCollage. All rights reserved.
    </div>
  </body>
</html>
